# Global Identifiers
PUID=1024
PGID=100
TZ=Europe/Istanbul
UMASK=002

# Path Configuration
DOCKERCONFDIR=/volume1/docker/appdata
DOCKERSTORAGEDIR=/volume1/data

# Logging Constraints
DOCKERLOGGING_MAXFILE=10
DOCKERLOGGING_MAXSIZE=200k

# Pullio Automation
PULLIO_UPDATE=true
PULLIO_NOTIFY=true

# Cloudflare Credentials
CF_USER=
CF_APIKEY=
CF_APITOKEN=
CF_HOSTS=

# Plex Parameters
PLEX_CLAIM_TOKEN=
PLEX_ADVERTISE_URL=
PLEX_NO_AUTH_NETWORKS=
